{% extends 'main.html' %}
{% load static %}

{% block content %}



	<div class="container-fluid" >
	<h6 class="heading">WE CARE YOUR MONEY</h6>
	
	
	</div>
	<div class="qform">
		<form method="get">
		{% csrf_token %}
		{{myfilter.form}}
		<button class="btn btn-outline-success" type="submit">SEARCH</button>
	</form>
	</div>
	<div class="row a">
		{% for i in get %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{i.img.url}}">
				<div class="box-element product">
				<h6><strong>TYPE:{{i.Category}}</strong></h6>
				<h6><strong>CITY:{{i.city}}</strong></h6>
				<hr>

				
				<a class="btn btn-outline-success" href="{% url 'show' i.id  %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{i.price}}</strong></h4>

			</div>
		</div>

		{% endfor %}

		
	</div>
{% endblock content %}