{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="showcase">
			<h2>WE CARE YOUR MONEY</h2>
			<p></p>
			<a href="{% url 'product_view' %}">
				<button class="btn btn-success" type="submit" >Explor now!</button></a>
		</section>
		<div class="SERVECES"><h2>OUR SERVECES</h2></div>
		<section class="maincards">
			<div class="box">
				<img src="{% static 'images/land1.jpg' %}">
				<h2>sale</h2>
				<p>we sale every things</p>
				<a href="#">learn more ></a>
			</div>
			<div class="box">
				<img src="{% static 'images/land1.jpg' %}">
				<h2>Buy</h2>
				<p>buy your choice</p>
				<a href="#">Learn more ></a>
			</div>
			<div class="box">
				<img src="{% static 'images/land1.jpg' %}">
				<h2>help</h2>
				<p>prediction prices for future</p>
				<a href="#">Learn more ></a>
			</div>

		</section>
{% endblock %}